*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/.vscode
**/.idea
**/.project
**/.scala-build
**/.bsp
**/.metals


# Stainless
**/.stainless-cache